/* Grid de Produtos */
.grid-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Ajusta a quantidade de colunas conforme o tamanho da tela */
  gap: 30px;
  margin-bottom: 50px;
}

/* Estilo dos Cards dos Produtos */
.produto-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* Modificado para pointer, para indicar que é interativo */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; /* Remover altura fixa para melhor adaptação */
  max-height: 480px; /* Definir uma altura máxima para os cards */
}

.produto-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.produto-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: contain;
  height: 200px;
}

.produto-card h3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #0e224a;
  text-align: center;
}

.preco {
  font-size: 1.3rem;
  color: #3b5998;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}

/* Estilo para as seções "Motivos" */
.intro.motivos {
  background-color: #e9eff9;
  border-radius: 15px;
  padding: 40px 30px;
  margin-bottom: 40px;
  box-shadow: inset 0 0 10px rgba(14, 34, 74, 0.1);
}

.intro.motivos h2 {
  margin-bottom: 15px;
  color: #0e224a;
}

.intro.motivos p {
  color: #444;
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6; /* Melhorar a legibilidade */
}

/* Responsividade para a Página de Produtos */
@media (max-width: 768px) {
  .grid-produtos {
    grid-template-columns: repeat(2, 1fr); /* Para telas menores, exibe 2 colunas */
  }

  .produto-card {
    width: 100%; /* Cards ocupando 100% da largura disponível */
  }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
  .grid-produtos {
    grid-template-columns: 1fr; /* Exibe 1 coluna em telas muito pequenas */
  }

  .produto-card {
    padding: 15px; /* Menos preenchimento em dispositivos muito pequenos */
  }

  .produto-card img {
    height: auto; /* Ajusta a altura da imagem */
    max-height: 150px; /* Limita a altura das imagens em dispositivos móveis */
  }

  .preco {
    font-size: 1.1rem; /* Diminui um pouco o tamanho do preço em telas pequenas */
  }
}
